<header class="errors has_menu l-header" id="mod-header">
  <div class="l-start">
    <div class="mod-chooser">
      <a href="#/home">
        <h1 class="site-title">
          <span class="environment full love">♥ </span>Heartack
        </h1>
      </a>
    </div>
  </div>

  <div ng-if="auth.logged_in" ng-click="toggleprofileNav()" class="l-end">
    <div class="c-avatar">
      <div class="image"></div>
    </div>
  </div>
  <div ng-if="profileNav" class="mod-profile-navigation">
    <div>
      <h2>Jérémy</h2>
      <ul>
        <li><a href="">Profil</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a ng-click="logout()" href="#/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <div ng-if="!auth.logged_in" class="nav-end">
    <div class="mod-chooser">
      <h1 class="site-title">
        <ul>
          <li><a href="#/login">Login</a></li>  
        </ul>
      </h1>
    </div>
  </div>

</header>
