 <div class="layout-flex">
  <section class="mod-devise">
    <header>
      <h2 class="twoliner">
      Login</i>
      </h2>
    </header>
    <div class="box">
      <div class="col">
        <form name="loginform" novalidate ng-submit="login()">
          <div class="input">
            <input name="email" id="email" ng-model="email" required autofocus="autofocus" placeholder="email address" type="email">
            <div class="error" ng-show="formUser.email.$dirty && formUser.email.$invalid">
              <small class="error" ng-show="formUser.email.$error.required">
              Email is required.
              </small>
            </div>          
          </div>      
          <div class="input">
            <input id="password" name="password" class="password" ng-model="password" required placeholder="Password" type="password">
            <div class="error" ng-show="formUser.password.$dirty && formUser.password.$invalid">
              <small class="error" ng-show="formUser.password.$error.required">
              Password is required.
              </small>
            </div>          
          </div>
          <input ng-disabled="loginform.$invalid" type="submit" name="commit" value="Login" class="button">
        </form>
      </div>
      <footer>
        <ul>
          <li><a href="">New here? Sign up!</a></li>
          <li><a href="">Forgot password?</a></li>
        </ul>
      </footer>
    </div>
  </section>
</div>
