/* MAIN CSS */
*, html, body{
    font-family: 'Roboto', sans-serif;
}
body{
  background: #3f51b5;
  color: #FFF;
  font-weight: 100;
}
.wrapper {
  position: relative;
  background: white;
}

.right{
  text-align:right;
}
section{
  padding-top: 150px;
}
/**
 * Navbar general
 */
.navbar {
  margin-bottom: 0;
  border-bottom: 0;
  background-color:transparent;
  transition: all 0.3s;
}
.navbar-nav > li > a {
  font-weight: 100;
}
.navbar-brand {
  font-weight: 300;
  color:#FFF !important;
  padding: 20px 0;
  line-height:0;
}
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar-default {
  background-color: #647df9;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);  
}
.navbar-inverse {
    padding-top: 20px;
    background-color: #000;
    border-color: #e6e6e6;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
    opacity:0.8;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: relative;
}
.nav-flex{
    display:flex;
    margin:0;
}
@media (max-width: 768px){
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}

.btn-signin{
    background-color:transparent !important;
    color:#fff !important;
    padding-top:10px !important;
}
.btn-signin-1{
    background-color:transparent !important;
    color:#565656 !important;
    padding-top:10px !important;
}

/* Flash */
.flash{
  /*padding-top: 90px;*/
  z-index: 999;
  position: relative;
  top: 0;
}
.alert{
  margin: 0; 
  border-radius: 0;
  text-align: center;
}
/* General */
.hero {
  position: relative;
  padding: 100px 0 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-height: 801px) and (max-height: 1000px){
    .hero {
      padding: 200px 0 340px;
    }
}

@media (min-height: 700px) and (max-height: 800px){
    .hero {
      padding: 265px 0 265px;
    }
}

@media (min-height: 600px) and (max-height: 699px){
    .hero {
      padding: 235px 0 235px;
    }
}

.hero::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}


.hero__heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size:111px;
  font-weight:bold;
  color: #eee;
}

.hero__heading + .hero-heading__sub {
  color: rgba(255, 255, 255, 0.9);
  font-size: 42px;
  margin-bottom:20px;
}

.love {
    color: #e74c3c;
    display: inline-block;
    font-size: 1.4em;
    position: relative;
    top: .2em;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse
}

@-webkit-keyframes love {
    to {
        -webkit-transform: scale(1.2)
    }
}

@-moz-keyframes love {
    to {
        -moz-transform: scale(1.2)
    }
}

@keyframes love {
    to {
        transform: scale(1.2)
    }
}

.sub_sub{
    max-width:700px;
    display:block;
    margin:0 auto;
}
.hero__btn.btn-link {
  color: rgba(255, 255, 255, 0.9);
}

.hero_background {
  background: #3f51b5;
  text-align: center;
}
.btn-new {
    color:#FFF;
    background-color: #F4B82A;
    border-color: #F4B82A;
    border-radius:0px;
    border-left: 0;
    border-right: 0;
    float: right;
}

.btn-home {
    color:#FFF;
    background-color: #F4B82A;
    border-color: #F4B82A;
    border-radius:0px;
    border-bottom: 5px solid #D3941D;
    border-left: 0;
    border-right: 0;
    padding:15px 30px 15px 30px;
}

.btn-new:hover, .btn-new:focus{
   color:#FFF;
}

.section {
    padding-bottom: 40px;
}
.heading,
.heading__sub {
  text-align: center;
}
.heading {
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  font-weight: 100;
}

.heading + .heading__sub {
    margin-top: -40px;
    margin-bottom: 80px;
    color: #9a9a9a;
    font-weight:100;
}

.heading + .heading__sub + .heading__btn {
    margin-top: -40px;
    margin-bottom: 40px;
}

.heading_left {
  text-align: left;
  + .heading__sub {
    text-align: left;
  }
}
.section_alt {
  background: #f5f5f5;
}

/*
 * Features
 */
.features__item {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 90px;
}
.features-item__body {
  overflow: hidden;
  text-align: center;
}
.features-item-body__title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.features-item-icon-file{
    font-size: 50px;
     margin-bottom:10px;
}
.features-item-icon-chart{
    font-size: 50px;
     margin-bottom:10px;
}
.features-item-icon-users{
    font-size: 50px;
    margin-bottom:10px;
}
.features-item-body__summary {
  color: #000;
}
.features-item-body__summary a {
  color: #000;
}

@media (max-width: 768px) {
    .features__item{
        margin-left: 0px;
    }
}

/**
 * Footer
 */
footer {
  padding: 30px 0;
  background-color: #292929;
  color: #9a9a9a;
  line-height: 20px;
  text-align: center;

  a {
    color: #9a9a9a;
  }
}

.footer__social {
  margin-top: 5px;
}

.footer-social__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  background-color: #4B4B4B;
  text-align: center;
  color: #000;
  margin-right:20px;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;

  i{
    line-height:2;
    font-size:18px;
  }

  &:hover{
    color: #fff;
  }

  &:focus{
    color: #fff;
  }
}

.footer-social__link_twitter:hover {
  background-color: #55acee;
}
.footer-social__link_facebook:hover {
  background-color: #3b5998;
}
.footer-social__link_google-plus:hover {
  background-color: #dd4b39;
}

.fa-envelope{
    margin-right:7px;
    color:#F5B82A;
}

@media (min-width: 768px) {
  footer {
    text-align: right;
  }
  .footer__social {
    margin-top: 5px;
    text-align: left;
  }
}

@media (max-width: 768px) {
   .footer__social {
      margin-top: 5px;
      margin-bottom:10px;
    }
}

.cursor-pointer{
  cursor:pointer;
}

/* login */


.lostPassword {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  margin-bottom: 0;
}

.footer-login {
  position: absolute !important;
}

@media (max-width: 768px) {
  .form-login {
    max-width: 280px !important;
  }
  .form-login .form-children-login {
    max-width: 280px !important;
  }
}

.header-title{
  color:#fff;
}

.nav-color {
  background-color: #292929;
  padding: 17px;
  margin-bottom: 0;
}

.align-right {
  text-align: right;
  margin-top: 15px;
}

.sub-navbar {
  background-color: #d5d5d5;
  height: 50px;
  margin-bottom: 30px;
}

.sub-title {
  margin: 0;
  line-height: 1.6;
  color: #4B4B4B;
  text-align: center;
  font-weight: 100;
}

.header-info {
  color: #9a9a9a;
}

.header-info i {
  color: #4B4B4B;
}

.alert-login {
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.form {
  max-width: 650px;
  margin: auto;
}

.login-title{
  text-align: center;
  margin-bottom: 30px;
}

.form .form-children {
  max-width: 400px;
  margin: auto;
}

.form-title {
  font-weight: 100;
  margin-bottom: 20px;
  text-align: center;
}

.without-image {
  border: 1px #ccc solid;
}

.with-image {
  border: 0px #ccc solid;
}

.image-signin {
  float: left;
  position: absolute;
  margin-right: 100px;
}

.image-signin p {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.image-signin p img {
  border-radius: 50px;
  border: none;
}

.image-signin p i {
  font-size: 80px;
  margin-left: 18px;
  margin-top: 5px;
  color: #7B7B7B;
}

.image-signin div {
  margin-left: 30px;
  cursor: pointer;
  color: #7B7B7B;
}

@media (max-width: 768px) {
  .form {
    max-width: 280px;
    padding-top: 0;
  }
  .form .form-children {
    max-width: 280px;
  }
  .alert-login {
    max-width: 280px;
    margin: auto;
    margin-bottom: 30px;
  }
  .sub-title {
    margin: 0;
    line-height: 2.2;
    color: #4B4B4B;
    text-align: center;
    font-weight: 100;
    font-size: 23px;
  }
}

.col-override {
  width: 50%;
}

@media (max-width: 768px) {
  .image-signin {
    float: inherit;
    position: relative;
    margin-right: 0;
  }
  .image-signin p {
    margin: auto;
  }
  .image-signin div {
    margin-left: 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .col-override {
    width: 100%;
  }
}

.btn-width {
  width: 35%;
}

.form-control {
  background-color: #EBEBEB;
  color: #767676;
  border-radius: 1px;
  border: none;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 8px transparent;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 150px;
}

.error {
  color: #bb1f34;
  font-size: 13px;
}

.ng-hide-add {
  animation: 0.5s fadeOut ease-out;
}

.ng-hide-remove {
  animation: 0.5s fadeIn ease-in;
}

/* Override BS */

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
